---
const puc = 'Pontificia Universidad Católica de Chile'
const ing = 'Escuela de Ingeniería'
const dcc = 'Departamento de Ciencia de la Computación'
const iic1103 = 'IIC1103 - Introducción a la Programación'
const iic1005 = 'IIC1005 - Computación: Ciencia y Tecnología del Mundo Digital'
const iic2154 = 'IIC2154 - Proyecto de Especialidad'

const data = [
  {
    name: 'Ayudante de Cátedra',
    course: iic1103,
    semester: '2023-2',
  },
  {
    name: 'Ayudante de Cátedra',
    course: iic1103,
    semester: '2023-1',
  },
  {
    name: 'Ayudante en aula',
    course: iic1005,
    semester: '2023-1',
  },
  {
    name: () => 'Ayudante Coach de equipo',
    course: iic2154,
    semester: '2022-1',
  },
  {
    name: 'Ayudante en aula',
    course: iic1005,
    semester: '2022-1',
  },
  {
    name: 'Ayudante de Cátedra',
    course: iic1103,
    semester: '2021-2',
  },
  {
    name: 'Ayudante de Cátedra',
    course: iic1103,
    semester: '2021-1',
  },
  {
    name: 'Ayudante corrector',
    course: iic1103,
    semester: '2019-2',
  },
  {
    name: 'Ayudante corrector',
    course: iic1103,
    semester: '2019-1',
  },
  {
    name: 'Ayudante corrector',
    course: iic1103,
    semester: '2018-1',
  },
]
---

{
  data.map(({ name, course, semester }, i, arr) => (
    <>
      <div class="grid grid-cols-2 break-inside-avoid">
        <p class="flex flex-col">
          <span class="font-bold">{name}</span>
          <span>{course}</span>
          <span>{dcc}</span>
        </p>
        <p class="flex flex-col font-bold text-right">
          <span>{puc}</span>
          <span>{ing}</span>
          <span>{semester}</span>
        </p>
      </div>
      {i + 1 !== arr.length && <hr />}
    </>
  ))
}
