---
import { Image } from 'astro:assets'

import ApolloGraphql from '@/badges/ApolloGraphql.svg'
import Next from '@/badges/Next.svg'
import Tailwind from '@/badges/Tailwind.svg'
import TypeScript from '@/badges/TypeScript.svg'
import ReactNative from '@/badges/ReactNative.svg'
import Nest from '@/badges/Nest.svg'
import Node from '@/badges/Node.svg'
import Pudux_ from '@/images/pudux.svg'
import AWS from '@/badges/AWS.svg'
import Firebase from '@/badges/Firebase.svg'
---

<div>
  <span class="flex flex-row">
    <bold>- 2018-2024 -</bold>
    <a href="https://pudux.cl" target="_blank" class="flex flex-row">
      <Image
        alt="Pudux"
        src={Pudux_}
        class="h-5 w-5 mx-2"
        width={20}
        height={20}
      />
      <bold>Pudux</bold>
    </a>
    , Software Factory. Co-founder, CTO.
  </span>
  <p>
    En Pudux desempeñé múltiples roles, incluyendo labores administrativas,
    liderazgo de proyectos y desarrollo Fullstack. Trabajé con proyectos de
    clientes e internos, en los cuales participé de los procesos de
    planificación, desarrollo y puesta en producción. Utilizamos tecnología
    basadas en
    <code>JavaScript/TypeScript</code>, para proyectos de
    <code>Frontend</code>, <code>Mobile</code> y <code>Backend</code>.
  </p>
  <div class="flex flex-row flex-wrap gap-2 py-2">
    <Image alt="TypeScript" src={TypeScript} width="83" height="20" />
    <Image alt="Node" src={Node} width="69" height="20" />
    <Image alt="Next" src={Next} width="53" height="20" />
    <Image alt="Tailwind" src={Tailwind} width="89" height="20" />
    <Image alt="ReactNative" src={ReactNative} width="93" height="20" />
    <Image alt="Nest" src={Nest} width="61" height="20" />
    <Image alt="ApolloGraphql" src={ApolloGraphql} width="111" height="20" />
    <Image alt="Firebase" src={Firebase} width="71" height="20" />
    <Image alt="AWS" src={AWS} width="53" height="20" />
  </div>
</div>
