---
import { Image } from 'astro:assets'

import ApolloGraphql from '@/badges/ApolloGraphql.svg'
import Next from '@/badges/Next.svg'
import Tailwind from '@/badges/Tailwind.svg'
import TypeScript from '@/badges/TypeScript.svg'
import ReactNative from '@/badges/ReactNative.svg'
import Nest from '@/badges/Nest.svg'
import Node from '@/badges/Node.svg'
import Pudux_ from '@/images/pudux.svg'
import AWS from '@/badges/AWS.svg'
import Firebase from '@/badges/Firebase.svg'
import Docker from '@/badges/Docker.svg'
---

<div>
  <span class="flex flex-row flex-wrap text-lg font-semibold mb-2">
    - 2019-2024 -
    <Image
      alt="Pudux"
      src={Pudux_}
      class="h-5 w-5 mx-2"
      width={20}
      height={20}
    />
    Pudux, Software Factory. Co-founder, CTO.
  </span>
  <p>
    En Pudux desempeñé múltiples roles, incluyendo labores administrativas,
    liderazgo de proyectos y desarrollo Fullstack. Trabajé con proyectos de
    clientes e internos, en los cuales participé de los procesos de
    planificación, desarrollo y puesta en producción.
  </p>
  <p>
    Utilizamos tecnología basadas en
    <code>JavaScript/TypeScript</code>, para proyectos de
    <code>Frontend</code>, <code>Mobile</code> y <code>Backend</code>.
  </p>
  <div class="flex flex-row flex-wrap gap-2 py-4">
    <Image alt="TypeScript" src={TypeScript} width="83" height="20" />
    <Image alt="Node" src={Node} width="69" height="20" />
    <Image alt="Next" src={Next} width="53" height="20" />
    <Image alt="Tailwind" src={Tailwind} width="89" height="20" />
    <Image alt="ReactNative" src={ReactNative} width="93" height="20" />
    <Image alt="Nest" src={Nest} width="61" height="20" />
    <Image alt="ApolloGraphql" src={ApolloGraphql} width="111" height="20" />
    <Image alt="Firebase" src={Firebase} width="71" height="20" />
    <Image alt="AWS" src={AWS} width="53" height="20" />
    <Image alt="Docker" src={Docker} width="65" height="20" />
  </div>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
    <div>
      <h3>Responsabilidades</h3>
      <ul class="list-disc list-inside">
        <li>Planificación y seguimiento de proyectos</li>
        <li>Líder de equipo</li>
        <li>Desarrollo Fullstack: Frontend, Mobile y Backend</li>
        <li>Capacitación de equipo</li>
        <li>Identificación y resolución de problemas técnicos</li>
      </ul>
    </div>
    <div>
      <h3>Aprendizajes destacados</h3>
      <ul class="list-disc list-inside">
        <li>Flexibilidad y adaptabilidad a nuevas tecnologías</li>
        <li>Desglosar y estimar funcionalidades complejas</li>
        <li>Adoptar elemento de metodologías ágiles (Scrum y Kanban)</li>
        <li>Comunicación y trato con clientes</li>
        <li>Colaboración con equipos externos</li>
      </ul>
    </div>
  </div>
</div>
