---
interface Props {
  text: string
}

const { text } = Astro.props

const normalizeText = (text: string) => {
  text = text.toLowerCase()
  // Remove diacritics
  text = text.normalize('NFD').replace(/\p{Diacritic}/gu, '')
  // Remove special characters and punctuation marks
  text = text.replace(/[^\w\s]|_/g, '')
  // Change whitespace with '-'
  text = text.replace(/\s+/g, '-')
  return text
}

const normalizedText = normalizeText(text)
---

<div class="flex flex-row items-center my-2">
  <code class="text-4xl mr-1 text-gray-600 dark:text-gray-400">&lt;</code>
  <h2 class="flex flex-row items-center group whitespace-nowrap" id={normalizedText}>
    {text}
    <a
      class="opacity-0 group-hover:opacity-100 transition-opacity text-3xl pl-1 before:content-['#']"
      href={`#${normalizedText}`}
      title={`Direct link to ${text}`}
    >
      &ZeroWidthSpace;
    </a>
  </h2>
  <div
    class="w-full ml-1 border-b-2 border-gray-600 dark:border-gray-400 border-dashed my-5"
  >
  </div>
  <code class="text-4xl text-gray-600 dark:text-gray-400">/&gt;</code>
</div>
